<body>
    <%- include('./partials/header') %>
        <link rel="stylesheet" href="/css/styleSemFundo.css">
        <link rel="stylesheet" href="/css/editar.css">

        <nav id="nav-adm">

            <ul>
                <li><a href="/">Home</a></li>
            </ul>

        </nav>

        <div class="geral">
            <div class="conteudo">

                <form id="formulario" method="POST" action="/editar/<%= filme.id %>?_method=PUT"
                    enctype="multipart/form-data">
                    <div class="fornome">
                        <p class="no">Nome:</p>

                        <input class="nm" type="text" value="<%= filme.titulo %> " name="filme" id="nome">

                        </label>
                        </div>
                        <br>
                        <br>
    

                      <div class="resum">
                        <label >
                        <p class="re"> Resumo:</p>
                        <input class="box" type="text" value="<%= filme.resumo %>" name="resumo" id="resumo">
                        </label>


                     </div>
                    <div class="duracao">
                        <label>
                        <p class="dur"> Duração:</p>
                        <input type="number" value="<%= filme.duracao%>" name="duracao" id="duracao" >
                        </label>
                    </div>
                    <br>
                    <p class="hu">Humores:</p> 
                    <br>
                     <% for(let h of humores){%>
                        <div class="humo">
                            <label for="<%= h.nome %>">
                                <%= h.nome %>
                            </label>
                            
                         <input class="caixa1" type="checkbox"  name="Humores" id="<%= h.nome %>"
                                                    value="<%= h.id %>" <% filme.humor.forEach(humorCadastrado=> { %>
                         <% if (h.nome===humorCadastrado.nome){ %>
                                                    checked
                                                    <% } %>
                                                        <% }) %>
                                                            >
                        

                       </div>
                        <% } %>




                                    <div class="foto">
                                        <label class="fto">
                                        <br>
                                        <p class="ft"> Imagem:</p>
                                     
                                        <input accept="image/*" type="file" name="img" id="img">
                                   
                                    </label>
                                        </div>

                                            <div class="salvar">
                                            <button class="btn-salvar" type="submit">Salvar</button>
                                            </div>
                </form>
                                </div>
                    </div>


</body>

</html>