
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
   <form action="/:id/editar<%= umFilme.id %>?_method=PUT" method="POST">
<label for="titulo">Titulo</label>
<input type="text" class="nome" id="titulo" value="<%= umFilme.titulo %>">
<label for="ano">Ano</label>
<input type="text" class="ano" id="ano" value="<%= umFilme.ano %>">
<label for="duracao">Duração</label>
<input type="text" class="duracao" id="duracao" value="<%= umFilme.duracao %>">
<label for="resumo">Resumo</label>
<input type="text" class="duracao" id="duracao" value="<%= umFilme.resumo %>">
<label for="humor">Humores</label>
<input type="text" class="humor" id="humor" value="<%= umFilme.humor %>">
<label for="plataforma">Plataforma</label>
<input type="text" class="plataforma" id="plataforma" value="<%= umFilme.plataforma %>">
<label for="imagem">Imagem</label>
<input type="image" class="imagem" id="imagem" value="<%= umFilme.imagem %> ">
<img src="<%= umFilme.imagem %>" alt="">  
</form>

    <% }) %> 
