<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/formulario.css">
    
    <nav id="nav-adm">
       
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
   <div class="geral">
        <div class="conteudo">
    <form id="formulario" method="POST" action="/formulario" enctype="multipart/form-data">
       <div class="nome">
        <label>
             <p class="no">
             Nome:</p>
            <input type="text" name="nome" id="nome" placeholder="Digite o nome do filme ou da série">
        </label>
    </div>
    <div class="plataforma">
        <label>
            <p class="pla">
            Plataforma:</p>
            <input type="text" name="Plataforma" id="Plataforma" placeholder="Plataforma ">
           
            </label>
    </div>
    <div class="resumo">
        <label class="re">
            <p class="re"> Resumo:</p>
            <input class="re" type="text" name="resumo" id="resumo"  placeholder="Resumo">
            
                
          
               
        </label>
    </div>
            <div class="humo">
           <p class="hu"> Humores:</p>
            <% for(let h of humores){%>
                <div>
                    <label class="caixa1" for="Triunfo"><%= h.nome %></label>
                    <input class="caixa1" type="checkbox" name="Humores" id="<%= h.nome %>" value="<%= h.id %>">
                    <input type="number" name="humor_<%= h.id %>" placeholder="nivel">
                </div>
            <% } %> 
           
</div></div>
<br>
<div class="duracao">

<label>
          <p class="dur">  Duração:</p>
            <input type="number" name="duracao" id="duracao"   placeholder="duração">
        </label>
           <div class="ano">
        <label>
        <p class="an">  Ano:</p>  
            <input type="number" name="ano" id="ano"   placeholder="ano">
        </label>
    </div> 
           <div class="foto">
    <label>
            <br>
          <p class="ft">  Foto:</p>
           
            <div class="imagem">Clique para selecione imagem</div>
            <input accept="image/*" type="file" name="img" id="img">
        </label>
    </div> 
       <div class="salvar">
    <button type="submit">Salvar</button>
</div>
    </form>

    </div>
</div>
</body>
</html>