<% filmesCadastrados.forEach(umFilme=>{ %>
    <p><%= umFilme.titulo %></p>
    <p><%= umFilme.ano %></p>
    <p><%= umFilme.duracao %></p>
    <p><%= umFilme.resumo %></p>
    <img src="<%= umFilme.imagem %>" alt="">  
    



    <% }) %> 