<%- include('./partials/header') %>
<link rel="stylesheet" href="css/styleSemFundo.css" />
<link rel="stylesheet" href="css/lista.css" />

<div class="busc">
  <form action="/search" method="GET">
    <input type="text" id="busca" name="key" />
    <button class="bt" type="submit">busca</button>
  </form>
</div>

<% filmesCadastrados.forEach(umFilme =>{ %>
<p class="todos">Titulo: <%= umFilme.titulo %></p>
<p class="todos">Ano de Lançamento:<%= umFilme.ano %></p>
<p class="todos">Duração: <%= umFilme.duracao %></p>
<p class="todos">Resumo: <%= umFilme.resumo %></p>
<% umFilme.humor.forEach(h => { %>
 <p class="todos"> Humor: <%= h.nome %> </p>
<% }) %>
<br>
<img class="ima" src="<%= umFilme.imagem %>" alt="" />
<br>
<br>
<form action="/apagar/<%=umFilme.id%>?_method=DELETE" method="POST">
  
    <button class="apaga" type="submit">apagar</button>
</form>
<br>
<form action="/editar/<%=umFilme.id%>" method="PUT">
  <button class="edita" type="submit">editar</button>
</form>
<div>
    <br>
  
</div>

<% }) %>

<% if(paginas != 0) { %>

<div class="paginacao">
  <ul>
    <% for (let index = 1; index <= paginas; index++){ %>
      <li class="item-pagina"><a class="item-pagina" href="/lista?page=<%= index %> "><%= index %> </a></li>
    <% } %>
  </ul>
</div>

<% } %>