<%- include('./partials/head') %>
<body>
<%- include('./partials/header') %>
<form action="/search" class="busc" method="GET">
    <input type="text" class="bsc" name="key" >
    <button type="submit" class="bb">buscar</button>
</form>
<% filmesCadastrados.forEach(umFilme=>{ %>
    <p><%= umFilme.titulo %></p>
    <p><%= umFilme.ano %></p>
    <p><%= umFilme.duracao %></p>
    <p><%= umFilme.resumo %></p>
    <img src="<%= umFilme.imagem %>" alt="">  
  
   <a href="/lista/<%= umFilme.titulo%>" class="listar"> ver</a>
    <form action="/apagarfilme/<%=umFilme.id%>" method="POST">
        <button type="submit">apagar</button>
    </form>
        <form action="/editar/:id<%=umFilme.id%>" method="POST">
            <button type="submit">editar</button>
            </form>
      

    


    <% }) %> 
</body>